img.galery{ 	
			border:10px solid #DDD; 
			max-width:128px; 
			max-height:96px; 
			float:left;
}
img.galery:hover{ 
			border:2px solid #FFF; 
			display:block; 
			-webkit-transform:scale(2.3); 
			-moz-transform:scale(2.3); 
			-ms-transform:scale(2.3); 
			-o-transform:scale(2.3); 
			margin-left:65px;
}			
.napisy p{ 	
			font-size:18px;
			margin: 10px; 
			color:#000;
}
.napisy{ 	
			background-color:#DDD; 
			margin: 5px 20px; 
			float:left; 
			width:970px;
			min-height:116px;
}
.napisy:hover, img.galery:hover{ 
			background-color:#FFF;
}
.napisy a{	
			text-decoration:none;
}