<div class="row">
    <div class="col-sm-4">
        <a href="http://www.giga.ulg.ac.be/">
            <img src="../../images/michegeorges.jpg" />
        </a>
    </div>
    <div class="col-sm-8">
        <p>GIGA stands for “Grappe Interdisciplinaire de Génoprotéomique Appliquée” which means “Interdisciplinary Cluster in Applied Génoprotéomics”.  It is a somewhat outdated name but the acronym GIGA is now well recognized in Belgium and abroad and so we keep it for the time being.</p>
        <p>It is an interdisciplinary institute that focuses on biomedical sciences.  It mission statement is “Academic excellence in biomedical sciences to foster groundbreaking medical innovation”.  It comprises five main pillars: GIGA-research, GIGA-core facilities, GIGA-education, GIGA-innovation and GIGA-administration.</p>
        <p>The core of GIGA is its research division: GIGA-research.  It comprises around 500 members that come from five Faculties of the University of Liège: Medicine, Science, Veterinary Medicine, Engineering, and Agronomy (from Gembloux).  These 500 members are organized in x units or laboratories that are headed by a Principal Investigator or PI.  The x PI-headed laboratories are regrouped in eight thematic units: ...  Thematic units are headed by a director elected for two years amongst and by its members.  The present director of ... is .., of ... is ..., ...  PI’s are expected to (i) raise their own research funds from European, national or regional funding agencies, (ii) share their</p>
    </div>
</div>


