<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" ng-app="vocApp">-->
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="screenApp">
<!--manifest="vocapp.appcache">-->
<head>
    <title>Vocabulary</title>

    <link rel="stylesheet" href="Css/bootstrap.css" />

    <link rel="stylesheet" href="Css/ak.css" />

    <!--Angular stuff-->
    <script src="Scripts/angular.js"></script>

    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>

    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-touch.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-1.2.4.min.js"></script>


    <!--Main code App-->
    <script src="app/appBootAngular.js"></script>

    <script src="app/Classes/dataClasses.js"></script>

    <script src="app/Services/dataService.js"></script>
    <script src="app/Services/configService.js"></script>

    <script src="app/Controllers/mainController.js"></script>
    <script src="app/Controllers/filesController.js"></script>
    <script src="app/Controllers/sequencesController.js"></script>

    <script src="app/filters.js"></script>


</head>
<body ng-controller="mainController">

    <uib-tabset active="tabNo">
        <uib-tab index="0" heading="Fichiers et Images" select="setTab(0)">
            <div class="panel panel-info" ng-show="screenNo==1" ng-controller="filesController">
                <div class="panel-heading">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="viewType" uib-btn-radio="'0'" ng-click="changeViewType('0')">Unregistered images</label>
                        <label class="btn btn-primary" ng-model="viewType" uib-btn-radio="'1'" ng-click="changeViewType('1')">Registered images</label>
                    </div>
                    <button type="button" class="btn btn-warning" ng-click="saveFileList()">Sauver les changements</button>
                    <div ng-show="!String.IsNullOrEmpty(msg.Trim())">{{msg}}</div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="file in getFiles()">
                        <div class="col-sm-1" style="z-index: 2">
                            <img ng-src="{{getFileUrl(file.filename)}}" class="galery" />
                        </div>
                        <div class="col-sm-2" style="z-index: 1">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="nom de l'image" ng-model="file.ourname">
                            </div>
                        </div>
                        <div class="col-sm-2" style="z-index: 1">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="durée en secondes" ng-model="file.duration">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <textarea type="text" class="form-control" placeholder="description" rows="3" ng-model="file.comment"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <label class="checkbox-inline"><input type="checkbox" value="" ng-model="file.activated">Activé</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success" ng-show="screenNo==10">
                <div class="panel-heading">
                    <h3>other</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>

        </uib-tab>

        <!--********************************************************************-->
        <uib-tab index="1" heading="Séquences d'images" select="setTab(1)">
            <div ng-controller="sequencesController">
                <div class="row">
                    <!--================================
                    Choose a sequence or create one
                    ================================-->
                    <div class="col-sm-4">
                        <div style="margin: 50px 20px">
                            <div class="list-group">
                                <a class="list-group-item" ng-click="sequenceSelected()" ng-class="{active:isSequenceTheActiveOne()}">< Créer une nouvelle séquence></a>
                                <!--REPEAT-->
                                <a ng-repeat="seq in sequences" class="list-group-item" ng-click="sequenceSelected(seq)" ng-class="{active:isSequenceTheActiveOne(seq)}">{{seq.data.name}} ({{seq.data.comment}})</a>
                            </div>
                        </div>
                    </div>
                    <!--================================
                    Detail of a Sequence
                    ================================-->
                    <div class="col-sm-8">
                        <div style="margin: 50px 20px">
                            <!--=========================
                            Properties of a sequence
                            =========================-->
                            <div class="row">
                                <div class="col-sm-3" style="z-index: 1">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="nom de la séquence" ng-model="seqselected.data.name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" placeholder="description" rows="3" ng-model="seqselected.data.comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label class="checkbox-inline"><input type="checkbox" value="" ng-model="seqselected.data.activated">Activé</label>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger" ng-click="saveSequence()" ng-disabled="isSequenceNameEmpty()">Sauver la sequence</button>
                                </div>
                            </div>
                            <!--=======================
                            Images of a sequence
                            =========================-->
                            <div class="row">
                                <uib-tabset active="tabNo">
                                    <!--==================
                                    Selected pictures
                                    ==================-->
                                    <uib-tab index="0" heading="Images sélectionnées" select="setTab(0)">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <!--REPEAT-->
                                                <div ng-repeat="fileid in seqselected.data.files" class="col-sm-4">
                                                    <div class="thumbnail" ng-click="sequenceFileSelected(fileid)" ng-class="{active:isSequenceFileTheActiveOne(fileid)}">
                                                        <img class="img-thumbnail" ng-src="{{getFileUrl(getFileInfoById(fileid).filename)}}" />
                                                        <div style="text-align: center;">{{getFileInfoById(fileid).ourname}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div ng-show="!isSequenceFileTheActiveOne(null)" style="margin: 50px 20px">
                                                <div class="btn-group-vertical" role="group" aria-label="...">
                                                    <button type="button" class="btn btn-danger" ng-click="removeCurrentImageFromSelection()">Supprimer de la séquence</button>
                                                    <button type="button" class="btn btn-info" ng-click="MoveUpCurrentImageInSelection()">Monter dans la séquence</button>
                                                    <button type="button" class="btn btn-info" ng-click="MoveDownCurrentImageInSelection()">Descendre dans la séquence</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jumbotron" ng-show="! seqselected || seqselected.data.files.length==0">
                                            <div class="container">
                                                <h4>Pas encore d'images sélectionnées</h4>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <!--==================
                                    NOT selected pictures
                                    ==================-->
                                    <uib-tab index="1" heading="Images à ajouter" select="setTab(1)">

                                        <div class="col-sm-6">
                                            <div class="row">
                                                <!--REPEAT-->
                                                <div ng-repeat="fileinfo in getCandidateFiles(seqselected)" class="col-sm-4">
                                                    <div class="thumbnail" ng-click="candidateFileSelected(fileinfo)" ng-class="{active:isCandidateFileTheActiveOne(fileinfo)}">
                                                        <img class="img-thumbnail" ng-src="{{getFileUrl(fileinfo.filename)}}" />
                                                        <div style="text-align: center;">{{fileinfo.ourname}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div ng-show="!isCandidateFileTheActiveOne(null)" style="margin: 50px 20px">
                                                <div class="btn-group-vertical" role="group" aria-label="...">
                                                    <button type="button" class="btn btn-danger" ng-click="addCurrentImageToSelection()">Ajouter à la séquence</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jumbotron" ng-show="seqselected && getCandidateFiles(seqselected).length==0">
                                            <div class="container">
                                                <h4>Toutes les images ont été sélectionnées</h4>
                                            </div>
                                        </div>

                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Upload" select="setTab(2)">

        </uib-tab>
    </uib-tabset>





</body>
</html>
